body {
    background-color: #bdd1de;
    color:white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}
a:hover {
    color: #4180ab;
    transition: 0.3s all;
}
#inscreva-se-btn {
    border: 2px solid #4180ab;
    padding: 10px;
    border-radius: 20px;
}
#inscreva-se-btn:hover {
    background-color: #4180ab;
    color: white;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h3 {
    font-size: 30px;
}

span {
    color:#4180ab;
}

p {
    font-size: 20px;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: #4180ab;
}

img {
    width: 550px;
    animation: moveimg 2s infinite alternate ease-in-out;

}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}


form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #88abc2;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: white;
    color: #88abc2;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

@keyframes moveimg {
    From {
        transform: translate(-2%, -2%) rotate(5deg);
    }
}